
@media (max-width: 991px) {
}

@media (max-width: 768px) {
    .main-content .content-data{
        padding: 30px 10px;
    }
    .main-content {
        width: 100%;
        margin-right: 0;
        padding: 20px 10px 0 10px;
    }
}

@media (max-width: 575px) {
    .plus-btn,
    .edit-btn {
        font-size: 16px;
        padding: 5px 10px;
    }
    .chats .user-info {
        flex-direction: column;
        justify-content: center;
    }
    .communication .platform-box:not(.head) {
        flex-direction: column;
        align-items: start;
        gap: 15px;
    }
    .chats .form-content {
        padding: 20px 10px;
    }
    .chats .chat-deatails .inputSend textarea {
        font-size: 12px;
    }
    .chats .chat-deatails .inputSend .input-wrapper {
        padding: 0 10px;
    }
}

@media (max-width: 492px) {

}

@media (max-width: 386px) {
    
}

@media (max-width: 320px) {
    
}

